
  body {
    font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
  }

  img {
      width: 100%;
      height: auto;
  }

  .s_img {
      width: 132%;
      height: auto;
      position: relative;
      left: -20%;
  }

  .show {
      display: block;
  }

  .img_hide {
      display: none;
  }

  .flex {
      display: flex;
      width: 1200px;
      margin: 0 auto;
  }

  .flex>div:nth-child(1) {
      width: 55%;
  }

  .flex>div:nth-child(2) {
      width: 40%;
  }

  .main_image {
      list-style: none;
  }

  .sub_image {
      list-style: none;
  }


  /*================ 右側コンテンツ ================*/
  /* === ボタン （テーブル用） */
  .btn_table {
      display: flex;
      list-style: none;
      margin: 0 0 0 8px;
      flex-wrap: wrap;
  }

  .btn_table>li {
      margin: 16px 0.4em;
      width: 29%;
  }

  .btn_table_02>li {
      margin: 5px;
      width: 25%;
      padding: 5px 0px 10px 5px;
      /*    border: 0.5px solid #434343; */
      list-style: none;
  }

  .btn_table_02>li>img {
      width: 75%;
      height: 115%;
      position: relative;
      top: 5px;
      left: 5%;
  }

  /* === ガラスカラー  === */
  .t_color_img {
    width: 83%;
    height: 5.2vw;
  }

  .t_color_img_02 {
      width: 60%;
      height: 85%;
  }

  h2.t_title {
      background: #4A4E4F;
      margin: 0 0px 20px 50px
  }

  h2.t_title>p:nth-child(1) {
      font-size: 21px;
      color: #fff;
      border-bottom: dotted 1px #fff;
      padding: 5px 0px;
      margin: 10px 25px;
  }

  h2.t_title>p:nth-child(2) {
      font-size: 18px;
      color: #fff;
      padding: 3px 0;
      margin: 0 0 0px 25px;
  }

  .mini_title {
      margin: 15px 0 15px 50px;
  }

  /* === 脚　カラー === */
  .btn_ashi {
      display: flex;
      list-style: none;
      margin: 0 0 0 8px;
  }

  .btn_ashi>li {
      margin: 0 0.2em
  }

  /* === フレームタイプ === */
  .f_type {
      display: flex;
  }

  .button003 {
      margin: 15px 10px 0px 25px;
  }

  .button003 a {
      background: transparent;
      border-radius: 15px;
      position: relative;
      justify-content: space-around;
      align-items: center;
      padding: 20px 40px;
      color: #313133;
      transition: 0.3s ease-in-out;
      font-weight: 500;
      text-decoration: none;
      border: 2px solid #999;
      margin: 0px 15px;
      font-size: 13px;
  }

  .button003 a:hover {
      background: #313131;
      color: #FFF;
  }

  .button001 {}

  .button001 a {
      text-decoration: none;
      text-align: center;
      display: block;
      color: #333;
      background: transparent;
      border-radius: 15px;
      position: relative;
      justify-content: space-around;
      align-items: center;
      padding: 20px 40px;
      color: #313133;
      transition: 0.3s ease-in-out;
      font-weight: 500;
      text-decoration: none;
      border: 2px solid #999;
      margin: 0px 15px;
      font-size: 13px;
      top: 44px;
      width: 61%;
      left: 5%;
      text-decoration: none;
      text-align: center;
  }

  .button001 a:hover {
      background: #313131;
      color: #FFF;
  }

  /*========= テーブルタイプ ======== */

  .f_type>li {
      list-style: none;
      position: relative;
      top: -35px;
  }

  /*=== シルバー　ボタン ===*/
  .f_type>li:nth-child(1)>a {
      display: inline-block;
      padding: 1em 1.3em;
      text-decoration: none;
      text-align: center;
      display: block;
      color: #333;
      background: transparent;
      border-radius: 15px;
      position: relative;
      justify-content: space-around;
      align-items: center;
      padding: 12px 35px;
      color: #313133;
      transition: 0.3s ease-in-out;
      font-weight: 500;
      text-decoration: none;
      border: 2px solid #999;
      margin: 0px 15px;
      font-size: 13px;
      top: 50px;
      width: 52%;
      left: -10%;
      text-decoration: none;
      text-align: center;
  }

  .f_type>li:nth-child(2)>a {
      display: inline-block;
      padding: 1em 1.3em;
      text-decoration: none;
      text-align: center;
      display: block;
      color: #333;
      background: transparent;
      border-radius: 15px;
      position: relative;
      justify-content: space-around;
      align-items: center;
      padding: 12px 35px;
      color: #313133;
      transition: 0.3s ease-in-out;
      font-weight: 500;
      text-decoration: none;
      border: 2px solid #999;
      margin: 0px 15px;
      font-size: 13px;
      top: 50px;
      width: 52%;
      left: 31%;
      text-decoration: none;
      text-align: center;
  }

  .f_type>li:nth-child(1)>a:hover {
      background: #313131;
      color: #FFF;
  }

  .f_type>li:nth-child(2)>a:hover {
      background: #313131;
      color: #FFF;
  }

  /* ========== タブメニュー ============= */

  /*タブ実装*/
  .tab_box {
      width: 1200px;
      margin: 0 auto;
  }

  .tab_box .btn_area {
      margin: 0 10px;
      display: -webkit-box;
      display: flex;
  }

  .tab_box .tab_btn {
      width: 250px;
      padding: 8px 0;
      color: #333;
      background: #f5f7f8;
      text-align: center;
      cursor: pointer;
      transition: all 0.2s ease 0s;
  }

  .tab_box .tab_btn+.tab_btn {
      margin-left: 8px;
  }

  .tab_box .tab_btn:hover {
      background-color: #dce1e4;
  }

  .tab_box .tab_btn.active {
      background: #277595;
      color: #fff;
      width: 25%;
  }

  .tab_box .panel_area {
      border: solid 1px #e3ebf3;
      padding: 20px;
      width: 1200px;
      background: #fff;
      box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
      margin: 0 auto;
  }

  .tab_box .tab_panel {
      display: none;
  }

  .tab_box .tab_panel.active {
      display: block;
  }

  /* ============== idnex.php コンテンツ部分 ============== */

        #app {
            border-radius: 4px;
            padding: 20px;
            transition: all 0.8s;
        }
    
        .container_001 {
            background-color: #fff;
        }
    
        .head_content {
            width: 1200px;
            margin: 0 auto;
        }
    
        .first_img_box {
            width: 100%;
            height: 60em;
        }
    
        .first_img_div {
            width: 15%;
            position: relative;
            left: 40%;
            top: 36%;
        }
    
        /** === ヘッダーメニュー === */
        .header_menu {
            display: flex;
            width: 1200px;
            margin: 0 auto;
        }
    
        .header_left {
            position: relative;
            top: 20px;
            left: 0%;
            width: 25%;
        }

        .header_right {
            width: 71%;
        }
    
        #menu_logo_img {
            width: 67%;
            height: auto;
        }
    
        .header_menu_ul {
            display: flex;
        }
    
        .header_menu_ul>li {
            padding: 0 50px 0px 0;
            list-style: none;
        }
    
    
        .header_menu_ul>li>a {
            text-decoration: none;
            display: inline-block;
        }
    
        /** === ヘッダーキャッチコピー */
    
        .h_text_box {
            display: flex;
            position: relative;
            top: 55px;
            font-size: 3.8vw;
            width: 1000px;
            letter-spacing: 0.26em;

            background-color: rgba(176, 62, 83, 0.2);
            background-image: linear-gradient(-90deg, #fff 50%, transparent 50%);
            background-size: 14px 14px;
        }
    
    
        .catch_text_01 {
            background: linear-gradient(114deg, rgba(201, 203, 202, 1) 0%, rgba(160, 142, 130, 1) 35%, rgba(193, 169, 163, 1) 100%);
            color: transparent;
            -webkit-background-clip: text;
            padding: 0 6px 0 0;
        }
    
        .catch_text_02 {
            background: linear-gradient(114deg, rgba(201, 203, 202, 1) 0%, rgba(160, 142, 130, 1) 35%, rgba(193, 169, 163, 1) 100%);
            color: transparent;
            -webkit-background-clip: text;
        }
    
        .gt_01 {
            font-size: 4.8vw !important;
        }
    
        #mozi_01 {
            margin-right: 20px;
        }
    
        #mozi_02 {
            margin-right: 20px;
        }
    
        .h_text_02 {
            position: relative;
            top: 230px;
            font-size: 1.8vw;
        }
    
        .h_text_03 {
            position: relative;
            top: 405px;
            font-size: 1.8vw;
        }
    
        .h_text_04 {
            position: relative;
            top: 605px;
            font-size: 1.8vw;
        }


    /** ========= スマホ ========= */
    @media screen and (max-width: 480px) {
            
        .header_menu {
            display: block;
            width: 90%;
            margin: 0;
        }

    }